In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis

import json # library to handle JSON files

from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

import folium # map rendering library

print('Libraries imported.')

Libraries imported.

**_Use pandas to get link url from Wikipedia. We will see it as a dictionary. To get the table of this assignment, we need to get the first element of this dictionary.
Then we will need to change columns of the original table with new columns is the first row.
Finally, we will choose data needed in this assignment from Row 1 till the end._**

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df = pd.read_html(url)[0]
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

**Ignore cells with a borough that is Not assigned**

In [3]:
df = df[df['Borough'] != 'Not assigned']
print(df.shape)
df.head()

(103, 3)

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

**Change " /" into ","**

In [4]:
for index in df.index:
    df['Neighborhood'][index] = df['Neighborhood'][index].replace(" /",",")

_Reset index and delete the old column of old index_

In [5]:
df = df.reset_index()
df = df.drop(['index'], axis = 1)

In [6]:
print(df.shape)
df.head()

(103, 3)

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

_Check whether there is a cell in column "Neighborhood" is "Not assigned"_

In [7]:
for neighborhood in df['Neighborhood']:
    if neighborhood == "Not assigned":
        print(neighborhood)

In [8]:
df.shape

(103, 3)

In [9]:
df.columns[0]

'Postal Code'

In [10]:
geo = pd.read_csv('Geospatial_Coordinates.csv')
geo.rename(columns={"Postal Code":df.columns[0]},
          inplace = True)
geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

**Copy column 'Postal Code' from geo to df. Create new DataFrame named df_final**

In [11]:
toronto_data = df.merge(geo,how='left', on= df.columns[0])

In [12]:
toronto_data.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494